@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:"Inter";
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.container__caixa{
    margin: 0 6em;
}
.container__botao{
    text-decoration: none;
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}
.container__aviso{
    color:var(--cinza-secundario);
    font-size: 12px; 
}
.container__titulo{
    font-weight: 700;
    font-size: 28px;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.secundario{
    height: 70vh;
    align-items: center;
    text-align:start;
    margin: 0 10em;
    align-content: space-between;

}
.secundario__imagem{
    width: 80%;
}
.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.3em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.botao__pequeno{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.imagem__telas{
  margin-left: 5em;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1em;
}
.dispositivos__lista{
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
}
.rodape{
   text-align: center;
   margin: 10em 3em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1em;
}
.rodape__texto{
    margin: 1em 0;
    font-size: 14px;
    color: var(--cinza-secundario);
}